<div id="wrapper">
  <div id="content"></div>

  <footer class="footer-wrapper">
    <div class="footer group">
      <label class="footer-about">Copyright © 2015 Ephraim Pei</label>

      <ul class="footer-links group">
        <a class="my-website-icon" href="http://www.ephraimpei.com">
          <img
            class="social-media-icon"
            src="<%=image_path("social_icons/ephraim_site.png") %>"/>
        </a>
        <a href='https://www.linkedin.com/in/ephraim-"san"-pei-b3b7bb21'>
          <img
            class="social-media-icon"
            src="<%=image_path("social_icons/linkedin.png") %>"/>
        </a>
        <a href="https://github.com/ephdawg3374">
          <img
            class="social-media-icon"
            src="<%=image_path("social_icons/github.png") %>"/>
        </a>
        <a href="https://www.facebook.com/ephraim.pei">
          <img
            class="social-media-icon"
            src="<%=image_path("social_icons/facebook.png") %>"/>
        </a>
        <a href="http://ephdawg3374.tumblr.com/">
          <img
            class="social-media-icon"
            src="<%=image_path("social_icons/tumblr.png") %>"/>
        </a>
        <a href="https://www.instagram.com/ephdawg3374/">
          <img
            class="social-media-icon"
            src="<%=image_path("social_icons/instagram.png") %>"/>
        </a>
      </ul>
    </div>
  </footer>
</div>

<script>
  window.NomNomsApp = window.NomNomsApp || {};

  priceRangeMapping = window.NomNomsApp.priceRangeMapping = [
    {0: "All"},
    {1: "$"},
    {2: "$$"},
    {3: "$$$"},
    {4: "$$$$"}
  ];

  distanceRangeMapping = window.NomNomsApp.distanceRangeMapping = [
    {0: ["804.672", ".5", ".5mi"]},
    {1: ["1609.34", "1", "1mi"]},
    {2: ["8046.72", "5", "5mi"]},
    {3: ["16093.4", "10", "10mi"]}
  ];

  window.NomNomsApp.images = {
    logoImage: "<%= image_path("nom-noms-logo.png") %>"
  };
</script>
